<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= campground.name %></h1>
        <div style=" margin: 25px auto;">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
        </div>
        <table class="ui celled structured striped table">
          <thead>
              <tr>
              <th  ></th>
              <th class="ui center aligned header" colspan="3">Planned</th>
              <th class="ui center aligned header" colspan="4">Actual</th>
            </tr>
            <tr>
              <th class="ui center aligned ">Title</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Productivity</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Call outs</th>
             </tr>
             <tr>
                <th>Inside The Book - Proactive Audits</th>
                
                <td><input name="campground[pv1]"  class="form-control" id="value1" type="text" value="500" readonly  onkeyup="sum();"></td>
                 <td><input  name="campground[pv2]"   class="form-control" id="value2" type="text" value="4.99" readonly  onkeyup="sum();"  ></td>
                 <td><input  class="form-control" type="text" id="value3" value="20.3" readonly ></td>
                 <script>
                function sum() {
                      var txtFirstNumberValue = document.getElementById('value1').value;
                      var txtSecondNumberValue = document.getElementById('value2').value;
                      var result = txtFirstNumberValue / txtSecondNumberValue/5;
                      if (!isNaN(result)) {
                         document.getElementById('value3').value = result;
                      }
                }
                </script>
                        <td><input  name="campground[pv3]" value="<%= campground.pv3 %>"  class="form-control" type="text" required ></td>
                        <td><input  name="campground[pv4]" value="<%= campground.pv4 %>"  class="form-control" type="text" required  ></td>
                         <td><textarea  rows="2" name="couts1" ></textarea></td>
             </tr>
            <tr>
                <th>Proactive Audits</th>
                <td><input  name="campground[pv5]"  class="form-control" type="text" value="12"  readonly  ></td>
                <td><input  name="campground[pv6]"   class="form-control" type="text" value="1"  readonly ></td>
                <td><input  class="form-control" type="text" value="2.4"  readonly  ></td>
                <td><input name="campground[pv7]"  value="<%= campground.pv7 %>"    class="form-control" type="text" required ></td>
                <td><input name="campground[pv8]"  value="<%= campground.pv8 %>"    class="form-control" type="text" required ></td>
                <td><textarea  rows="2"  name="couts2"  ></textarea></td>
             </tr>
             
             
                <tr>
                <th>Best Sellers</th>
                <td><input name="blog[pv9]"  class="form-control" type="text" value="46" readonly  ></td>
                <td><input name="blog[pv10]"  class="form-control" type="text" value=".55"  readonly ></td>
                <td><input  class="form-control" type="text" value="16.72"  readonly  ></td>
                <td><input name="blog[pv11]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv12]"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="blog[couts3]" ></textarea></td>
             </tr>
             <tr>
                <th>Pre-Orders</th>
                <td><input name="blog[pv13]"  class="form-control" type="text" value="152" readonly  ></td>
                <td><input name="blog[pv14]"  class="form-control" type="text" value="1.26"  readonly ></td>
                <td><input  class="form-control" type="text" value="24.12"  readonly  ></td>
                <td><input name="blog[pv15]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv16]"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="blog[couts4]" ></textarea></td>
             </tr>
             <tr>
                <th>Big Books</th>
                <td><input name="blog[pv17]"  class="form-control" type="text"  value="8" readonly  ></td>
                <td><input name="blog[pv18]"  class="form-control" type="text"  value="0.12"  readonly ></td>
                <td><input  class="form-control" type="text" value="13.3"  readonly  ></td>
                <td><input name="blog[pv19]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv20]"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="blog[couts5]" ></textarea></td>
             </tr>
             
             <tr>
                <th>Kindle Deals</th>
                <td><input name="blog[pv21]"  class="form-control" type="text" value="185"  readonly  ></td>
                <td><input name="blog[pv22]"  class="form-control" type="text" value="1.98"  readonly ></td>
                <td><input  class="form-control" type="text" value="18.68"  readonly  ></td>
                <td><input name="blog[pv23]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv24]"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="blog[couts6]" ></textarea></td>
             </tr>
             <tr>
                <th>Esclation Audits</th>
                <td><input name="blog[pv25]"  class="form-control" type="text" value="25"   readonly  ></td>
                <td><input name="blog[pv26]"  class="form-control" type="text"  value="0.26"  readonly ></td>
                <td><input  class="form-control" type="text" value="19.23"  readonly  ></td>
                <td><input name="blog[pv27]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv28]"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="blog[couts7]" ></textarea></td>
             </tr>
             
             <tr>
                <th>New Scope Proactive Audits</th>
                <td><input name="blog[pv29]"  class="form-control" type="text" value="12" readonly  ></td>
                <td><input name="blog[pv30]"  class="form-control" type="text" value="12"  readonly ></td>
                <td><input  class="form-control" type="text" value="0.2"  readonly  ></td>
                <td><input name="blog[pv31]"  class="form-control" type="text"  required></td>
                <td><input name="blog[pv32]"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="blog[couts8]" ></textarea></td>
             </tr>
          
             <tr>
                <th>KU Page Violation Audits</th>
                <td><input name="blog[pv33]"  class="form-control" type="text"  value="84" readonly  ></td>
                <td><input name="blog[pv34]"  class="form-control" type="text" value="0.82"  readonly ></td>
                <td><input  class="form-control" type="text" value="20.48"  readonly  ></td>
                <td><input name="blog[pv35]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv36]"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="blog[couts9]" ></textarea></td>
             </tr>
            <tr>
                <th>KU Tickets</th>
                <td><input name="blog[pv37]"  class="form-control" type="text" value="22"readonly  ></td>
                <td><input name="blog[pv38]"  class="form-control" type="text" value="1"  readonly ></td>
                <td><input  class="form-control" type="text" value="4.4"  readonly  ></td>
                <td><input name="blog[pv39]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv40]"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="blog[couts10]" ></textarea></td>
             </tr>
            <tr>
                <th>KU All Stars</th>
                <td><input name="blog[pv41]"  class="form-control" type="text" value="12" readonly  ></td>
                <td><input name="blog[pv42]"  class="form-control" type="text" value="2"  readonly ></td>
                <td><input  class="form-control" type="text" value="1.2"  readonly  ></td>
                <td><input name="blog[pv43]"  class="form-control" type="text" required ></td>
                <td><input name="blog[pv44]"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="blog[couts11]" ></textarea></td>
             </tr>
            </thead>
       </table>
                
                
                <div class="form-group">
                    <button class="ui basic blue button">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

