<% include ../partials/header %>
<div class="ui container">
    <div class="row">
     
<div>
    <div class="thumbnail">
        <img class="img-responsive" src="<%= campground.image %>">
        <div class="caption-full">
            
            <h4><a><%=campground.name%></a></h4>
            <span><b>Created on :</b><i><%=  campground.created.toDateString() %></i></span><br>

            <p><%= campground.description %></p>
            <p><%= campground.week %></p>
            <p><%= campground.month %></p>
        <table class="ui celled structured striped table">
        <thead>
          <tr>
            <th>
              Year: 2019<br />
              Week:46
            </th>
            <th class="ui center aligned header" colspan="3">Planned</th>
            <th class="ui center aligned header" colspan="4">Actual</th>
          </tr>
          <tr>
            <th class="ui center aligned ">Title</th>
            <th>Volume</th>
            <th>Head Count</th>
            <th>Productivity</th>
            <th>Volume</th>
            <th>Head Count</th>
            <th>Productivity</th>
            <th>Call outs</th>
          </tr>
          <tr>
            <th>Inside The Book - Proactive Audits</th>
            <td><%= campground.pv1 %></td>
            <td><%= campground.pv2 %></td>
            <td><%= (campground.pv1 / campground.pv2)/5 %></td>
            <td><%= campground.pv3 %></td>
            <td><%= campground.pv4 %></td>
            <td><%= (campground.pv3 / campground.pv4)/5 %></td>
            <td><%= campground.couts1 %></td>
          </tr>

          <tr>
            <th>Proactive Audits</th>
            <td><%= campground.pv5 %></td>
            <td><%= campground.pv6 %></td>
            <td><%= (campground.pv5 / campground.pv6)/5 %></td>
            <td><%= campground.pv7 %></td>
            <td><%= campground.pv8 %></td>
            <td><%= (campground.pv7 / campground.pv8)/5 %> </td>
            <td><%= campground.couts2 %></td>
          </tr>
        </thead>
                
    </table>
      
                    <p>
                        <em>Submitted By <%= campground.author.username %></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>